
.bg {
    height: 100vh;
}

header {
    margin-top: 10px;
}


h1 {
    color: black;
    font-family: 'Exo', sans-serif;
    font-size: 450%;
}

h2 {
    color: black;
    font-family: 'Exo', sans-serif;
}