.bg {
  height: 100vh;
  background-color: #b8bcc3;
}

header {
  padding-top: 10px;
}

h1 {
  color: black;
  font-family: 'Exo', sans-serif;
  font-size: 400%;
}

h4, h3, h2 {
  color: black;
  font-family: 'Exo', sans-serif;
}

div.result {
  padding-top: 20px;
}
