<div class="bg">
    <div class="container">
        <!-- <p>{{ 4 + 3 }}</p> -->
        <header class="row">
            <div class="col-xs-4 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="../img/icon1.jpg" alt="">
                </a>
            </div>
            <div class="col-xs-6 col-md-2">
                <h1>tweetbot</h1>
            </div>
        </header>
        <div class="input-group col-md-6">
            <input type="text" class="form-control" placeholder="Search for #hashtags, @mentions or keywords...">
            <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
        </div>
        <!-- /input-group -->
        <!-- /.col-lg-6 -->
    </div>
</div>
