<div class="container">
    <!-- <p>{{ 4 + 3 }}</p> -->
    <header>
        <a href="#!/predict">Predict</a>
        <h1>Bayes Machine Learning</h1>
        <h2>Teaching Module</h2>
    </header>
    <form>
        <div class="form-group">
            <label for="sampletext">Lets Teach our computer:</label>
            <textarea class="form-control" id="sampletext" rows="3" ng-model="teachText"></textarea>
        </div>
        <fieldset class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="teachMood1" id="positive" ng-model="mood" value="positive" checked> Positive
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="TeachMood2" id="negative" ng-model="mood" value="negative"> Negative
                </label>
            </div>
        </fieldset>
        <button type="submit" ng-click="teach(teachText,mood)" class="btn btn-primary">Teach!</button>
    </form>
</div>