<div class="bg">
    <div class="container">
        <!-- <p>{{ 4 + 3 }}</p> -->
        <header >
            <a href="#!">Teach</a>
            <h1>Bayes Machine Learning</h1>
            <h2>Prediction Module</h2>
        </header>
        <form>
            <div class="form-group">
                <label for="sampletext">Enter text to analyse:</label>
                <textarea class="form-control" id="sampletext" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit!</button>
        </form>
    </div>
</div>